.firstlevel {
    display: grid;
    text-decoration: none;
    grid-template-columns: 24px 1fr;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
    font-weight: 500;
    font-size: 18px;
line-height: 25px;
}
.firstLevelActive,
.firstlevel:hover{
    transition: all 0.12s ease;
    color: var(--primary);
}
.firstLevelActive svg,
.firstlevel:hover svg {
    transition: all 0.12s ease;
    fill: var(--primary);
}
.secondLevel {
    text-decoration: none;
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--gray-dark);
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    
}
.secondBlock{
    margin-top: 15px;
    margin-left: 12px;
    padding-left: 32px;
    border-left: 1px solid #DFDFDF;

}
.thirdLevel {
    
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    color:var(--gray-dark);
    font-weight:700;
    font-size: 14;
    line-height: 19px;
    
}

.secondLevelBlock {
    overflow: hidden;
    
}

@keyframes fadeInFromNone {
    0% {
      display: none;
      opacity: 0;
    }
  
    1% {
      display: block;
      opacity: 0;
    }
  
    100% {
      display: block;
      opacity: 1;
    }
  }
.thirdLevelActive,
.thirdLevel:hover {
    transition: all 0.12s ease;
    color: var(--primary);

}