.filled svg{
    fill: var(--primary);
}

.iseditable {
    cursor: pointer;
}
.svg{
    margin-right: 5px;
}
.errorWrapper{
    position: relative;
}
.erorrMessage{
    position: absolute;
    left: 0px;
    bottom: -20px;
    color: var(--red);
}