body{
  margin: 0px;
  padding: 0px;
  color:var(--black);
  background: var(--background);
}
:root{
  --black:#3B434E;
  --gray-light: #EBEBEB;
  --gray-dark: #6c7077;
  --white:white;
  --primary:#7351f5;
  --primary-hover:#6344df;
  --background: #F5F6F8;
  --red-light:#f89d8d;
  --red:#FC836D;
  --green:#1DC37E;
  --green-light:#C8F8E4;
  --font-family: ' Noto Sans KR', 'sans-serif';
}