body{
  margin: 0px;
  padding: 0px;
  color:var(--black);
  background: var(--background);
}
:root{
  --black:#3B434E;
  --white:white;
  --primary:#7653FC;
  --background: #F5F6F8;
  --red:#FC836D;
  --green:#1DC37E;
  --green-light:#C8F8E4;
}